:root {
    --max-width: 1024px; 
    --color-primary: rgb(255, 191, 0);
    --color-secondary: #3b3b3b;
    --color-black: #282828;
    --color-white: rgb(226, 226, 226);
    --color-black-darker: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-secondary);
    position: relative;
}

header {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black)
}

.customNav {
    width: 100%;
    padding: 2rem;
    max-width: var(--max-width);
    z-index: 10;
}

.customNav .navbar-brand {
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.customNav .navbar-brand:hover {
    color: var(--color-white);
}

.navbar-toggler {
    background-color: var(--color-primary);
}

.nav-link {
    color: var(--color-white) !important;
    text-align: center;
    padding: .6rem;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--color-primary) !important;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 5px;
}

.customJumbotron {
    background-image: url(../images/bg-hero.jpg);
    background-position: center;
    background-size: cover;
    color: var(--color-white);
    padding-top: 12rem;
}

.jumbotronContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
}

.jumbotronContainer img{
    width: 125px;
    padding-bottom: 1rem;
}

.jumbotronContainer h1{
    font-weight: 600;
    padding-bottom: 1rem;
    background-color: transparent;
}

.jumbotronContainer p{
    font-weight: 400;
}

.contacts-links {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding-top: 1rem;
    height: 60px;
}

.contacts-links a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 1rem;
}

.contacts-links a:hover {
    color: var(--color-primary);
    box-shadow: rgba(255, 191, 0, 0.4) 0px 5px, rgba(255, 191, 0, 0.3) 0px 10px, rgba(255, 191, 0, 0.2) 0px 15px, rgba(255, 191, 0, 0.1) 0px 20px, rgba(255, 191, 0, 0.05) 0px 25px;
}

/* Grouping classes following the DRY principle */
.work-container,
.skills-container,
.about-contact-container {
    max-width: var(--max-width);
    text-align: center;
    color: var(--color-white);
}
/* Grouping classes following the DRY principle */
.work-container h2,
.skills-container h2,
.about-contact-container h2 {
    color: var(--color-primary);
    font-weight: 600;
    padding: 5rem 0 2rem 0;
    margin-bottom: 3rem;
    border-bottom: 2px solid var(--color-primary);
}

.cardContainer {
    margin-bottom: 1.5rem;
}

.card {
    border: 2px solid var(--color-primary);
}

.card img {
    height: 200px;
    object-fit: cover; 
}

.card-body {
    background-color: var(--color-black);
}

.card-body a {
    background-color:var(--color-primary);
    color: var(--color-secondary);
    font-weight: 500;
    border: none;
    
}

.card-body a:hover {
    background-color:var(--color-white);
    color: var(--color-black);
    border: none;
    box-shadow: var(--color-primary) 0px 3px 8px;
}

.card-text{
    color: var(--color-white) !important;
    margin: 2rem 0;

}

.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

figure {
    padding: 1rem;
}

figure figcaption {
    font-weight: 500;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    background-color: var(--color-black);
    margin-top: 5rem;
}

footer h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-white);
}

footer hr {
    background-color: var(--color-primary);
    margin: .7rem 0;
    width: 100px;
}

footer p {
    font-size: 14px;
    color: var(--color-white);
}