:root {
    --max-width: 1024px; 
    --color-primary: rgb(255, 191, 0);
    --color-secondary: #3b3b3b;
    --color-black: #282828;
    --color-white: rgb(226, 226, 226);
    --color-black-darker: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-secondary);
}

header {
    background-color: var(--color-black)
}

.custom-nav {
    max-width: var(--max-width);
    z-index: 10;
}

.custom-nav .navbar-brand {
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 600;
}

.custom-nav .navbar-brand:hover {
    color: var(--color-white);
}

.navbar-toggler {
    background-color: var(--color-primary);
}

.nav-link {
    color: var(--color-white) !important;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--color-primary) !important;
    border-radius: 5px;
}

.custom-jumbotron {
    background-image: url(../images/bg-hero.jpg);
    background-position: center;
    background-size: cover;
    color: var(--color-white);
    padding-top: 12rem;
}

.jumbotron-container {
    max-width: var(--max-width);
}

.jumbotron-container img{
    width: 125px;
}

.jumbotron-container h1{
    font-weight: 600;
}

.jumbotron-container p{
    font-weight: 400;
}

.contacts-links {
    height: 60px;
}

.contacts-links a {
    color: var(--color-white);
    font-size: 1.5rem;
}

.contacts-links a:hover {
    color: var(--color-primary);
    box-shadow: rgba(255, 191, 0, 0.4) 0px 5px, rgba(255, 191, 0, 0.3) 0px 10px, rgba(255, 191, 0, 0.2) 0px 15px, rgba(255, 191, 0, 0.1) 0px 20px, rgba(255, 191, 0, 0.05) 0px 25px;
}

/* Grouping classes following the DRY principle */
.work-container,
.skills-container,
.about-contact-container {
    max-width: var(--max-width);
    color: var(--color-white);
}
/* Grouping classes following the DRY principle */
.work-container h2,
.skills-container h2,
.about-contact-container h2 {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.card {
    border: 2px solid var(--color-primary);
}

.card img {
    height: 200px;
    object-fit: cover; 
}

.card-body {
    background-color: var(--color-black);
}

.card-body a {
    background-color:var(--color-primary);
    color: var(--color-secondary);
    font-weight: 500;
    border: none;
}

.card-body a:hover {
    background-color:var(--color-white);
    color: var(--color-black);
    box-shadow: var(--color-primary) 0px 3px 8px;
}

.card-text{
    color: var(--color-white);
}

footer {
    height: 150px;
    background-color: var(--color-black);
}

footer h4 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-white);
}

footer hr {
    background-color: var(--color-primary);
    width: 100px;
}

footer p {
    font-size: 14px;
    color: var(--color-white);
}